
<div class="col-lg-4">
  <h2>Forgot your password?</h2>  
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, :class => "form-control", :placeholder => "Your Email Adress", :autofocus => true %>
    <%= f.submit "Send me reset password instructions", :class => "btn btn-small btn-warning  btn-block", :style => "margin: 1em 0em 0.5em;" %>
  <% end %>
  <%= render "devise/shared/links" %>  
</div>


