<!DOCTYPE html>
<html>
<head>
  <title>Kinako</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">kinako</a>
      </div>
      <div class="navbar-collapse collapse pull-right">
        <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "btn btn-success" %>        
      </div>      
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
